*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.test
*.prof
*.mprof
*.log
*.svg
*.syso
*.7z
*.zip
*.minisig

build/
bin/

# build specific
bin_*/
build_*/
misc/version.go
cmd/*/resources.rc
cmd/*/manifest.xml
