*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.test
*.prof
*.mprof
*.log
*.zip
*.syso
*.conf
*.epub
*.fb2
*.kfx
*.txt
*.pyc

# build specific
build/
release/
build_*/
**/todo.md
**/__pycache__/*
misc/version.go
cmd/*/resources.rc
cmd/*/manifest.xml
gclpr.json
gclpr_*.zip
gclpr_*.minisig
!vendor/*.md
!vendor/*.txt

